**This is my first note book**

In [ ]:
print("Hello World")

Hello World

In [5]:
import pandas as pd

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [53]:
df=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data.csv', index_col='sample_name')
df.head()

             column0 column1 column2  column3  column4
sample_name
sample1      control     yes    0.25     0.10     0.00
sample2         case     yes     0.9     0.25     0.75
sample3      control     yes    0.43     0.23     0.02
sample4         case      no    c084     0.34     0.90

In [51]:
df['column2']=pd.to_numeric(df['column2'], errors='coerce')
df.head()

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02
sample4         case      no      NaN     0.34     0.90

In [48]:
df.fillna(0)

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02
sample4         case      no     0.00     0.34     0.90

In [49]:
df2=pd.read_csv('/content/drive/My Drive/data_science_workshop/test_data2.csv', index_col='sample_name')
df2.head()

             age
sample_name
sample1       25
sample4       33
sample3       55

In [54]:
df_full=df.merge(df2, on='sample_name')
df_full.head()

             column0 column1 column2  column3  column4  age
sample_name
sample1      control     yes    0.25     0.10     0.00   25
sample3      control     yes    0.43     0.23     0.02   55
sample4         case      no    c084     0.34     0.90   33

In [56]:
df_full.loc[df_full['age']>25, 'age_cat']='gt10'
df_full.loc[df_full['age']<=25, 'age_cat']='lt10'
df_full.head()

             column0 column1 column2  column3  column4  age age_cat
sample_name
sample1      control     yes    0.25     0.10     0.00   25    lt10
sample3      control     yes    0.43     0.23     0.02   55    gt10
sample4         case      no    c084     0.34     0.90   33    gt10

In [59]:
new_group=df_full.groupby(['column0','age_cat']).mean()
new_group.head()

                 column3  column4  age
column0 age_cat
case    gt10        0.34     0.90   33
control gt10        0.23     0.02   55
        lt10        0.10     0.00   25

In [62]:
df_full.to_csv('/content/drive/My Drive/data_science_workshop/test_data_full.csv')
new_group.to_csv('/content/drive/My Drive/data_science_workshop/test_data_group.csv')

In [8]:
df1=df[['column1','column4']]

In [9]:
df1.head()

            column1  column4
sample_name
sample1         yes     0.00
sample2         yes     0.75
sample3         yes     0.02
sample4          no     0.90

In [10]:
df['column34']=df['column3']+df['column4']

In [11]:
df.head()

             column0 column1 column2  column3  column4  column34
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10
sample2         case     yes     0.9     0.25     0.75      1.00
sample3      control     yes    0.43     0.23     0.02      0.25
sample4         case      no    c084     0.34     0.90      1.24

In [12]:
df['column01']=df['column0'] + '_' + df['column1']

In [13]:
df.head()

             column0 column1 column2  column3  column4  column34     column01
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10  control_yes
sample2         case     yes     0.9     0.25     0.75      1.00     case_yes
sample3      control     yes    0.43     0.23     0.02      0.25  control_yes
sample4         case      no    c084     0.34     0.90      1.24      case_no

In [14]:
df.loc[df['column0']=='control','new_column0']=10
df.loc[df['column0']=='case','new_column0']=9
df.head()

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample2         case     yes     0.9  ...      1.00     case_yes          9.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0
sample4         case      no    c084  ...      1.24      case_no          9.0

[4 rows x 8 columns]

In [15]:
df.loc[df['column0']=='control']

             column0 column1 column2  ...  column34     column01  new_column0
sample_name                           ...
sample1      control     yes    0.25  ...      0.10  control_yes         10.0
sample3      control     yes    0.43  ...      0.25  control_yes         10.0

[2 rows x 8 columns]